<div class="container">
  <form action="/piglatinize" method="post">
    <div class="form-group">
      <label for="wordInput">Enter your phrase:</label>
      <input class="form-control" type="text" id="phrase" name='user_phrase' placeholder="word">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
