<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Piglatinize</title>
  </head>
  <body>
    <h1>Pig Latinized Text</h1>
    <h3><%= @text.text_converter %></h3>
  </body>
</html>
